//-----------
.modal-footer
  button.btn.btn-default(
    ng-disabled='isUnchanged(diagnosi)'
    ng-click='Cancel()') Annulla

  //- form.$invalid || 
  button.btn.btn-primary(  	
    ng-disabled='formState.saving || isUnchanged(diagnosi)'
    ng-click='Save()') Salva
 