ul.nav
  li(ng-class="getClass('/pazienti')")
    a(ng-href='#/pazienti'
      tooltip-placement='bottom', tooltip='Ricerca Paziente') 
      i.icon-search
      | &nbsp;
      | Pazienti
  li(ng-class="getClass('/nuovopaziente')")
    a(ng-href='#/nuovopaziente'
      tooltip-placement='bottom', tooltip='Nuovo Paziente') 
      i.icon-plus
      | &nbsp;
      | Paziente

