div(ng-app='ng-app')
  h1(style='color: rgb(0, 68, 204);') Nuovo Paziente 
  form.form-horizontal.css-form(name='myForm',ng-controller='PazientiNuovoCtrl')
      .control-group
        label.control-label Nome
          input(type='text', placeholder='Inserisci il nome', ng-model='user.nome', required)
      .control-group
        label.control-label Cognome
          input(type='text', placeholder='Cognome', ng-model='user.cognome', required)

      .control-group
        label.control-label Data di Nascita
          input(type='text', placeholder='Data di nascita',ng-model='user.datadinascita',required)

      .control-group
        .controls
          label.radio.inline
            input#rdGenderM(type='radio',name='rdGender', ng-model='user.gender', value='M', checked='checked')
            | M
          label.radio.inline
            input#rdGenderF(type='radio',name='rdGender', ng-model='user.gender', value='F')
            | F 
      .col-md-offset-2
        button.btn-primary(ng-click='reset()', ng-disabled='isUnchanged(user)', style='width:90px') Pulisci
        button.btn-primary(ng-click='update(user)',style='width:90px', ng-disabled='myForm.$invalid || isUnchanged(user)') Salva