div
  .page-header
    .row
      h1(style='color: rgb(0, 68, 204);') Pazienti
      lead Elenco dei pazienti
  div(ng-controller='PazientiElencoCtrl')    
    form.row
      .input-group.col-md-3
        input.form-control(type='text', ng-model='query', placeholder='ricerca rapida', autofocus="true")   
        span.input-group-addon
          i.glyphicon.glyphicon-search
    
    br
    img(src='/img/crying.svg', ng-hide='(pazienti.length == 0) || (pazienti | filter:query).length > 0')
    
    table.table-striped.table-bordered.table-hover.ng-cloak(
      ng-hide='(pazienti | filter:query).length == 0')
      thead
        tr
          th Cod. 
          th Nome
          th Età
          th Data diagnosi
          th Malattia
          th Inizio terapia
          th Ult. infusione
          th Visualizza 
      tbody
        tr(ng-repeat='paziente in pazienti | filter:query')
          td.col-md-1(align='center')  {{paziente.idPAZIENTE}}
          td                  {{ paziente.NOME }} {{ paziente.COGNOME }}
          td.col-md-1(align='right')   
            span(tooltip-placement='left', tooltip='{{ paziente.DATA_NASCITA | date:"dd/MM/yyyy" }}')
              {{paziente.eta}} anni
          td.col-md-1 &nbsp;
            span(tooltip-placement='left', tooltip='{{ paziente.DATA_DIAGNOSI | fromNow }}')
              {{ paziente.DATA_DIAGNOSI | date:"dd/MM/yyyy"}}
          td.col-md-2 &nbsp;     {{paziente.MALATTIA}}
          td.col-md-1(align='right')
            span(tooltip-placement='left', tooltip='{{ paziente.DATA_TERAPIA | fromNow }}')
              {{ paziente.DATA_TERAPIA | date:"dd/MM/yyyy"}}
          td.col-md-1(align='right')
            span(tooltip-placement='left', tooltip='{{ paziente.data_infusione | fromNow }}')
              {{ paziente.data_infusione | date:"dd/MM/yyyy"}}
          td.col-md-1(align='center') 
            a(ng-href='#/pazienti/{{paziente.idPAZIENTE}}/diagnosi') dettaglio

br            
