.div(ng-controller='PazienteDettaglioCtrl')
  .page-header
    .row
      h1
        i.glyphicon.glyphicon-user
        | &nbsp;&nbsp;
        | {{ paziente.NOME }} {{ paziente.COGNOME }}
        br
        small Dati Anagrafici

  div(ng-include="'/partials/dati_anagrafici.html'")  
  br
  tabset
    tab( heading='Diagnosi')     
      div(ng-include="'/partials/diagnosi_malattia_form_by_combo.html'")
    tab( heading='Terapia' )
      div(ng-include="'/partials/terapia_form.html'")
