div(ng-controller='PazienteDettaglioCtrl')
  h3
    i.icon-user
    | &nbsp;&nbsp;
    | {{ paziente.NOME }} {{ paziente.COGNOME }}
    
  include paziente/_dati_anagrafici.jade 
  br
  tabset
    tab( heading='Diagnosi')      
      include paziente/_diagnosi_malattia_form.jade
    tab( heading='Terapia' )
      include paziente/_terapia.jade
