ng-include(src="'/partials/paziente_head.html'" , scope="" , onload="")

div( ng-controller='SospensioniCtrl' )
  .content
    h3 Sospensioni
    .col-xs-12.col-md-7
      p(ng-hide="sospensioni.length > 0") La terapia non è mai stata sospesa
      p(ng-show="sospensioni.length > 0") La terapia è stata sospesa per &nbsp;
        span.badge {{sospensioni.length}}
        | &nbsp; volte


      table.table-striped.table-bordered(ng-show="sospensioni.length > 0")
        thead
          tr
            th motivo
            th
            th inizio
            th fine
            
        tbody
          tr(ng-repeat="sosp in sospensioni", ng-class="sosp.class")
            td.col-md-4
              span(data-placement="bottom", tooltip="{{sosp.note}}") 
                {{sosp.sospensione}}
            td.col-md-2
              // span(data-placement="bottom", tooltip="{{sosp.note}}") 
              {{sosp.dettaglio}}
            td.col-md-1 
              span(data-placement="bottom", tooltip="{{sosp.data_inizio | fromNow }}")
                {{sosp.data_inizio | date:"dd/MM/yyyy"}}
            td.col-md-1
              span(data-placement="bottom", tooltip="{{sosp.data_fine | fromNow }}")
                {{sosp.data_fine | date:"dd/MM/yyyy"}}
            td
              button.btn.btn-xs.btn-default(ng-click="editSospensione(sosp)")
                i.glyphicon.glyphicon-pencil
              button.btn.btn-xs.btn-danger(ng-click="cancellaSospensione(sosp.idterapia_sospensione)")
                i.glyphicon.glyphicon-trash

      pre
        {{eForm|json}}
        {{motiviSospensione|json}}
      
    .col-xs-12.col-md-5
      button.btn.btn-default(
        ng-click="eForm.visible = true"
        ng-hide="eForm.visible") 
        i.glyphicon.glyphicon-plus-sign
        | &nbsp;Aggiungi Sospensione
      ng-include(src="'/partials/sospensioni_form.html'" , autoscroll="")
      

