br
h4 Valutazione clinica del paziente in terapia con TOCILIZUMAB
div(ng-controller='TerapiaValutazioneCtrl')
  .content
    br
    .row
      form.col-md-6.form-horizontal( novalidate , name ='formTerapiaValutazione')
        fieldset
          .form-group
            .col-md-3
              label Tempo
            .col-md-3
                input(type='number', min ='0', max='600', step='6', ng-model ='tc_aggiungi.tempo')
          .form-group
            .col-md-4
              label
          .form-group
            .col-md-4
              label N. articol. dolenti
            .col-md-4
              input(type='number', min ='0', max='50', step='1',ng-model ='tc_aggiungi.art_dolenti')
          .form-group
            .col-md-4
              label N. articol. tumefatte
            .col-md-4
              input(type='number', min ='0', max='50', step='1',ng-model ='tc_aggiungi.rt_tumefatte')
          .form-group
            .col-md-4
              label PCR (mg/dl)
            .col-md-4
              input(type='number', min ='0', max='50', step='0.1',ng-model ='tc_aggiungi.pcr')
          .form-group
            .col-md-4
              label VES (mm/h)
            .col-md-4
              input(type='number', min ='0', max='50', step='0.1',ng-model ='tc_aggiungi.ves')
          .form-group
            .col-md-4
              label VAS paziente (cm)
            .col-md-4
              input(type='number', min ='0', max='50', step='0.1',ng-model ='tc_aggiungi.vas_paziente')
          .form-group
            .col-md-4
              label VAS medico (cm)
            .col-md-4
              input(type='number', min ='0', max='50', step='0.1',ng-model ='tc_aggiungi.vas_medico')
          .form-group
            .col-md-4
              label DAS28 

            .col-md-4
              input(type='number', min ='0', max='50', step='0.1',ng-model ='tc_aggiungi.das28')
          .form-group
            .col-md-4
              label SDAI 
            .col-md-4
              input(type='number', min ='0', max='50', step='0.1')
          .form-group
            .col-md-4
              label CDAI
            .col-md-4
              input(type='number', min ='0', max='50', step='0.1')
          .form-group 
            .col-md-3.col-md-offset-3
            button.btn.btn-info.btn-sm(style='margin-left:10px;',ng-click='aggiungi_t()')
              i.glyphicon.glyphicon-plus-sign
                | &nbsp; AGGIUNGI
      .col-md-4
        p testo
