.modal-header
  button.close(type="button", ng-click='cancel()' ,aria-hidden="true")&times;
  h4#cancella_tc_title.modal-title Cancellazione terapia DMARD
.modal-body
  p Sei sicuro di voler cancellare la terapia 
    strong {{tcToDelete.nome}} 
    | del {{tcToDelete.d_inizio | date:"dd/MM/yyyy" }} &nbsp;
    span.badge.bg-danger(style="background-color: rgb(210, 50, 45);") ?

  
  //- p Riepilogo dei dati che si stanno cancellando:
  dl.dl-horizontal
    dt(ng-show='tcToDelete.tempo') tempo
    dd(ng-show='tcToDelete.tempo') {{tcToDelete.tempo}}
    
    dt nome
    dd {{tcToDelete.nome}}

    dt iniziata
    dd {{tcToDelete.d_inizio | date:"dd/MM/yyyy"  }} ({{tcToDelete.d_inizio | fromNowPrecisely}})
    
    dt(ng-show='tcToDelete.d_fine') sospesa il
    dd(ng-show='tcToDelete.d_fine') {{tcToDelete.d_fine | date:"dd/MM/yyyy"  }} ({{tcToDelete.d_fine | fromNowPrecisely}})

    dt(ng-show='tcToDelete.motivo_sospensione') perchè
    dd(ng-show='tcToDelete.motivo_sospensione') {{tcToDelete.motivo_sospensione}}

    dt(ng-show='tcToDelete.note') annotazioni
    dd(ng-show='tcToDelete.note') {{tcToDelete.note}}



.modal-footer
  button.btn.btn-default(ng-click='cancel()') Annulla
  button.btn.btn-danger(ng-click="ok()") 
    i.glyphicon.glyphicon-trash
    | &nbsp; Elimina